@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body{
    background-color: black;
}
.container {
	height: 99vh;
	display: flex;
  position: relative;
	align-items: center;
 width: 100%;
 
  font-family: 'Merriweather', serif;
	flex-direction: column;
	color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url("cover2.jpg");
  /* background-color: #80ffe5; */
  background-size: cover;
 
  
}
.header-bar {
	position: relative;
    margin-top: 20px;
	width: 90%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid yellow;
	border-left: 10px solid yellow;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid yellow;
	border-right: 10px solid yellow;
	transition: 0.3s linear all;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li a{
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Merriweather', serif;
	color: yellow;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li a:hover {
	color: white;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
.pic{
  position: absolute;
  margin-left: -60%;
 
}
.pic img{
   border-radius: 50%;
   border-style: solid;
   border-width: 1.5vh;
   border-color: yellow;
  
   margin-top: 20vh;
   height: 60vh;
   width: 60vh;
}

.about{
       
  position: absolute;
  top: 50%; 
  left: 40%;
  width: 80vh;
 
 
  transform: translate(50%,-50%);
  text-transform: uppercase;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 6rem;
  font-weight: 1000;
 
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
  

}
.about span{
color: yellow;
}

.profile{
 
  justify-content: center;
    margin: 90px auto;
  background-color: #202c2d;
  width: 100vh;
  border-radius: 15px;
  
}
.profile p{
  color: white;
  padding: 30px 20px;
  font-size: 18px;
}
.profile p span{
  color: yellow;
}
.profile::after{
  content: "";
  clear: both;
  display: table;
  color: white;

}
.yellow{
  
  float: right;
  padding: 50px 50px;
  
}
.yellow img{
  border-radius: 50%;
  border-style: solid;
  border-width: 14px;
  border-color: white;
}
.heading1{
  
  
    
    color: #202c2d;

    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 6vh;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    display: flex;
      justify-content: center;
        margin: 90px auto;
}

.underline{
    
    
    display: flex;
    justify-content: center;
      margin: 90px auto;
      /* margin-top: 10vh;
      margin-bottom: 10vh; */
      background-color: yellow;
      width: 500px;
      height: 4px;
  }
.img2 img{
    float: right;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    
  }
  .clearfix{
     
      background-color: #202c2d;
      border-radius: 15px;
      margin-right: 70vh;
      margin-left: 10vh;
      padding: 20px;
      text-align: justify;
     
  }
  
  
  
  .img1 img{
    float: left;
    border-radius: 50%;
   
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
  }
  
  .clearfix1::after {
    content: "";
    clear: both;
    display: table;
  }
  .clearfix1{
      background-color: #202c2d;
      border-radius: 15px;
      margin-right: 10vh;
      margin-left: 70vh;
      padding: 20px;
      text-align: justify;
     
  }
  .clearfix p{
     
    color: white;
   
   
}
.clearfix p span{
    color: yellow;
    font-size: 1.5rem;
}
  .clearfix1 p{
     
      color: white;
     
     
  }
  .clearfix1 p span{
    color: yellow;
    font-size: 1.5rem;
}
.home {
    margin: auto;
    width: 60%;
    color: white;
    padding: 10px;
    text-align: justify;
  }
  .homepic1{
    display: block;
  margin-left: auto;
  margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 1.9vh;
    border-color: #202c2d;;
    height: 30vh;
    width: 30vh;
   
    
  }
  .container1{
     
     
     


  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
    
}
.testimotionals {
  width:330px;
  
   padding: 20px;
  
   }
  
  
  .testimotionals .card {
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:hidden;
    width:350px;
   left: -10px;
    background:#202c2d;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
    border-radius: 10px;
    
  
    box-shadow:0 10px 40px rgba(0,0,0,.5)
    

  }
  .testimotionals .card .layer {
    z-index:1;
    position:absolute;
    top:calc(100% - 1px);
    height:100%;
    width:100%;
    left:0;
    background:linear-gradient(to left , yellow, rgb(63, 61, 58));
    transition:0.5s;
    
  }
  
  .testimotionals .card .content {
    z-index:2; 
    position:relative;
    
    
  }
  
  .testimotionals .card:hover  .layer{
    top:0;
  }
  
  .testimotionals .card .content p {
    font-size:14px;
    line-height:24px;
    color:#fff;
    font-family: 'Merriweather', serif;
    
  }
  .testimotionals .card .content .image {
    width:100px; height:100px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    border: 4px solid white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    
  }
  
  .testimotionals .card .content .details h2 {
  font-size:18px;
  color:white;
  }
  .testimotionals .card .content .details h2 span {
  font-size:22px;
  color:yellow;
  font-family: 'Merriweather', serif;
    transition:0.5s;
  }
  .testimotionals .card:hover .content .details h2 span {
    color:white;
    position:relative
  }
  .grid-wrapper img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
  }
  .grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .grid-wrapper {
    display: grid;
    margin: 90px 300px;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    grid-gap: 10px;
  background-color: black;
  padding: 10px;

 
    
  }
  .grid-wrapper .wide {
    grid-column: span 2;
  }
  .grid-wrapper .tall {
    grid-row: span 2;
  }
  .grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
  }
  .list-type5{
    width:810px;
    display: flex;
justify-content: center;
 
    margin:0 auto;
    
    }
    .list-type5 ol {
    list-style-type: none;
    list-style-type: decimal !; /*IE 7- hack*/
    margin: 0;
    margin-top: 10vh;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
    }
    .list-type5 ol li{
    position: relative;
    margin-bottom: 1.5em;
    padding: 1.5em;
    background-color: yellow;
    border-radius: 10px;
    padding-left: 58px;
    }
    
    .list-type5 a{
    text-decoration:none;
    color:black;
    
    font-size: 17px;
    font-family: 'Merriweather', serif;
    }
    
    .list-type5 li:hover{
    box-shadow:inset -6em 0 black;
    -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
    }
    
    .list-type5 ol li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #202c2d;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
    border-radius: 10px;
    }
    .cards-list {
      z-index: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
    }
    
    .cards-list .card {
      margin: 10px 10px;
      margin-bottom: 80px;
      width: 200px;
      height: 200px;
     border-radius: 50%;
     border-style: solid;
  border-width: 1.9vh;
  border-color: #202c2d;
    
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
      cursor: pointer;
      transition: 0.4s;
    }
    
    .cards-list .card .card_image {
      
      width: inherit;
      height: inherit;
      
      
    }
    
    .cards-list .card .card_image img {
      width: inherit;
     
      height: inherit;
      border-radius: 50%;
     
    }
    
    .cards-list .card .card_title {
      text-align: center;
      border-radius: 0px 0px 40px 40px;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 40px;
      height: 40px;
    }
    
    .cards-list .card:hover {
      transform: scale(0.9, 0.9);
      box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
        -5px -5px 30px 15px rgba(0,0,0,0.22);
    }
    
    .title-white {
      color: yellow;
      font-family: 'Merriweather', serif;
    }
    
    .title-black {
      color: yellow;
      font-family: 'Merriweather', serif;
    }
    .box2 {
      display: grid;
      
  justify-content: center;
    margin: 190px auto;
      grid-gap: 100px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 74fr));
    
      grid-auto-flow: dense;
      padding :0px 215px ;
      
    }
    .card2{
     position: relative;
      width: 280px;
      
      height: 310px;
      background: #202c2d;
      margin: 0 auto;
      
      border-radius: 4px;
      box-shadow:0 2px 10px rgba(0,0,0,.2);
    }
    .box2 .card2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card2:before,
    .card2:after
    {
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: #202c2d;
      transition: 0.5s;
      z-index:-1;
    }
    .card2:hover:before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
    .card2:hover:after{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
    .card2 .imgBx{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
    }
    
    .card2:hover .imgBx
    {
      bottom: 80px;
    }
  
    .card2 .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
    .card2 .details{
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        height: 60px;
        text-align: center;
    }
  
    .card2 .details h2{
     margin: 0;
     padding: 10px;
     font-weight: 600;
     font-size: 20px;
     color: yellow;
     display: block;
     text-transform: uppercase;
    } 
    footer{
      width: 100%;
    
      bottom: 0;
      left: 0;
      background: #202c2d;
    }
    footer .content{
      max-width: 1350px;
      margin: auto;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    footer .content p,a{
      color: white;
      font-size: 20px;
      text-decoration: none;
    }
    footer .content .box{
      width: 33%;
      transition: all 0.4s ease;
    }
    footer .content .topic{
      font-size: 32px;
      font-weight: 600;
      color: yellow;
      margin-bottom: 26px;
    
    }
    footer .content p{
      text-align: justify;
    }
    footer .content .lower .topic{
      margin: 24px 0 5px 0;
    }
    footer .content .lower i{
      padding-right: 16px;
      
    }
    footer .content .middle{
      padding-left: 80px;
    }
    footer .content .middle a{
      line-height: 32px;
    }
    footer .content .right input[type="text"]{
      height: 35px;
      width: 100%;
      outline: none;
      color: #d9d9d9;
      background: #000;
      border-radius: 5px;
      padding-left: 10px;
      font-size: 12px;
      border: 2px solid #222222;
      
    }
    footer .content .right input[type="submit"]{
      height: 22px;
      width: 100%;
      font-size: 12px;
      color: black;
      background: yellow;
      outline: none;
      border-radius: 5px;
      letter-spacing: 1px;
      cursor: pointer;
      margin-top: 12px;
      border: 2px solid yellow;
      transition: all 0.3s ease-in-out;
    }
    .content .right input[type="submit"]:hover{
      background: none;
      color:  yellow;
    }
    
    footer .bottom{
      width: 100%;
      text-align: right;
      color: #d9d9d9;
      padding: 0 40px 5px 0;
    }
    footer .bottom a{
      color: yellow;
    }
    footer a{
      transition: all 0.3s ease;
    }
    footer a:hover{
      color: yellow;
    }
   
  @media (min-width: 350px ) and (max-width: 576px ){
      .container{
        width: 100%;
        max-width:100%;
        min-width: 100%;
        
        height: 230px
      }
      .pic{
        width: 50%;
      margin-left: -27%;
      margin-top: -10vh;
      }
      .pic img{
        width: 15vh;
        height: 15vh;
        border-width: 6px;
      }
      .header-bar{
        margin-top: 0px;
        height: 40px;
        border: 8px solid transparent;
	border-top: 8px solid yellow;
	border-left: 8px solid yellow;
      }
      .header-bar::after{
        top: -8px;
	right: -8px;
  height: 29px;
        border: 8px solid transparent;
	border-bottom: 8px solid yellow;
	border-right: 8px solid yellow;
      }
      .slider-menu li a{
        padding: 5px;
        font-size: 60%;
      }
      .about{
        font-size:  1.5rem;
        font-weight: 900;
        width: 34%;
        margin-left: 20%;
        margin-top: -10%;
      }
    .profile{
      width: 90%;
      margin-top: -1vh;
      
    }
    .profile p{
      
      padding: 10px 10px;
      font-size: 13px;
      
      width: 55%;
    }
    .yellow{
      
      padding: 60px 10px;
      
    }
    .profile img{
      width: 15vh;
      height: 15vh;
      border-width: 5px;
    }
    .clearfix{
        margin: auto;
          width: 30vh;
         
      }
      .clearfix1{
        margin: auto;
          width: 30vh;
         
         
      }
	.home p{
              font-size: 14px;
              font-family: 'Merriweather', serif;
              
            }
            .clearfix p{
              font-size: 14px;
              font-family: 'Merriweather', serif;
            }
            .clearfix1 p{
              font-size: 14px;
              font-family: 'Merriweather', serif;
            }
      
      .underline{
        margin-top: 5vh;
        
        width: 60%;
      }
      .heading1{
        font-size: 2rem;
        margin-bottom: 5vh;
      }
       .container1{
       
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        margin: auto;
        
       
      }
      .home{
        width: 80%;
      }
      .clearfix{
        width: 85%;
      }
      
      .clearfix1{
        width: 85%;
      }
      .img2 img{
        height: 35vh;
        width: 35vh;
      }
      .img1 img{
        height: 35vh;
        width: 35vh;
      }
      /* .clearfix p span{
        margin-top: 60px;
      }
      .clearfix1 p span{
        margin-top: 20px;
      } */
      .container1 .testimotionals{
        width: 280px;
       
        
       
       }
      .testimotionals .card{
        width: 290px;
        left: 0px;
       
      }
     
      .grid-wrapper {
        display: grid;
        margin: 90px 20px;
        grid-template-columns: auto auto auto;
        grid-auto-rows: 100px;
        grid-auto-flow: dense;
        
      background-color: black;
      margin-bottom: -5vh;
      padding: 10px;
        
      }
      .list-type5{
        width:80%;
        
       
        
        }
        .list-type5 ol li{
         
          margin-bottom: 1em;
          padding: 1em;
          padding-left: 48px;
          }
          .list-type5 a{
            font-size: 14px;
          }
          .cards-list .card .card_title {
            font-size: 90%;
           
          }
          .box2 {
            display: grid;
        
            justify-content: center;
              margin: 0px auto;
                grid-gap: 10px;
                width: 20;
                grid-template-columns: repeat(auto-fit, minmax(300px, 74fr));
              
                grid-auto-flow: dense;
                padding :0px 15px ;
                
              }
            .card2{
              width: 80%;
             
            }
            footer .content{
              max-width: 390px;
              margin: auto;
              padding: 10px;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
            }
            footer .content .topic{
              font-size: 20px;
            }
            footer .content p,a{
              
              font-size: 16px;
              
            }
            footer .content .right input[type="text"]{
              width: 90%;
            }
          }
          @media (min-width: 577px ) and (max-width: 768px ){
            .container{
              width: 100%;
              max-width:100%;
              min-width: 100%;
              
              height: 330px
            }
            .pic{
              width: 50%;
            margin-left: -27%;
            margin-top: -10vh;
            }
            .pic img{
              width: 25vh;
              height: 25vh;
              border-width: 6px;
            }
            .header-bar{
              margin-top: 0px;
              height: 50px;
              border: 8px solid transparent;
        border-top: 8px solid yellow;
        border-left: 8px solid yellow;
            }
            .header-bar::after{
              top: -8px;
        right: -8px;
        height: 39px;
              border: 8px solid transparent;
        border-bottom: 8px solid yellow;
        border-right: 8px solid yellow;
            }
            .slider-menu li a{
              padding: 10px;
              font-size: 70%;
            }
            .about{
              font-size:  1.9rem;
              font-weight: 900;
              width: 30%;
              margin-left: 25%;
              margin-top: -3%;
            }
          .profile{
            width: 80%;
            margin-top: -1vh;
            
          }
          
          .yellow{
            
            padding: 60px 10px;
            
          }
          .profile img{
            width: 25vh;
            height: 25vh;
            border-width: 5px;
          }
          .clearfix{
              margin: auto;
                width: 30vh;
               
            }
            .clearfix1{
              margin: auto;
                width: 30vh;
               
               
            }
            
            .underline{
              margin-top: 5vh;
              
              width: 60%;
            }
            .heading1{
              font-size: 2rem;
              margin-bottom: 5vh;
            }
             .container1{
             
              justify-content: center;
              margin: 0 auto;
              width: 80%;
              margin: auto;
              
             
            }
            .home{
              width: 80%;
            }
            .home p{
              font-size: 14px;
              font-family: 'Merriweather', serif;
              
            }
            .clearfix{
              width: 85%;
            }
            .clearfix p{
              font-size: 14px;
              font-family: 'Merriweather', serif;
            }
            .clearfix1 p{
              font-size: 14px;
              font-family: 'Merriweather', serif;
            }
            
            .clearfix1{
              width: 85%;
            }
            .img2 img{
              height: 35vh;
              width: 35vh;
            }
            .img1 img{
              height: 35vh;
              width: 35vh;
            }
            /* .clearfix p span{
              margin-top: 60px;
            }
            .clearfix1 p span{
              margin-top: 20px;
            } */
            .container1 .testimotionals{
              width: 280px;
             
              
             
             }
            .testimotionals .card{
              width: 290px;
              left: 0px;
             
            }
           
            .grid-wrapper {
              display: grid;
              margin: 90px 20px;
              grid-template-columns: auto auto auto;
              grid-auto-rows: 100px;
              grid-auto-flow: dense;
              
            background-color: black;
            margin-bottom: -5vh;
            padding: 10px;
              
            }
            .list-type5{
              width:80%;
              
             
              
              }
              .list-type5 ol li{
               
                margin-bottom: 1em;
                padding: 1em;
                padding-left: 48px;
                }
                .list-type5 a{
                  font-size: 14px;
                }
                .cards-list .card .card_title {
                  font-size: 90%;
                 
                }
                .box2 {
                  display: grid;
              
                  justify-content: center;
                    margin: 0px auto;
                      grid-gap: 10px;
                      width: 20;
                      grid-template-columns: repeat(auto-fit, minmax(300px, 74fr));
                    
                      grid-auto-flow: dense;
                      padding :0px 15px ;
                      
                    }
                  .card2{
                    width: 80%;
                   
                   
                  }
                  footer .content{
                    max-width: 390px;
                    margin: auto;
                    padding: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                  }
                  footer .content .topic{
                    font-size: 20px;
                  }
                  footer .content p,a{
                    
                    font-size: 16px;
                    
                  }
                  footer .content .right input[type="text"]{
                    width: 90%;
                  }
                }
                @media (min-width: 769px ) and (max-width: 1020px ){
                  .container{
                    width: 100%;
                    max-width:100%;
                    min-width: 100%;
                    
                    height: 430px
                  }
                  .pic{
                    width: 50%;
                  margin-left: -27%;
                  margin-top: -5vh;
                  }
                  .pic img{
                    width: 35vh;
                    height: 35vh;
                    border-width: 6px;
                  }
                  
                 
                  .about{
                    font-size:  3rem;
                    font-weight: 900;
                    width: 30%;
                    margin-left: 28%;
                    margin-top: -5%;
                  }
                
               
                .clearfix{
                    margin: auto;
                      width: 30vh;
                     
                  }
                  .clearfix1{
                    margin: auto;
                      width: 30vh;
                     
                     
                  }
                  
                  .underline{
                    margin-top: 5vh;
                    
                    width: 60%;
                  }
                  
                   .container1{
                   
                    justify-content: center;
                    margin: 0 auto;
                    width: 80%;
                    margin: auto;
                    
                   
                  }
                  .home{
                    width: 80%;
                  }
                  .clearfix{
                    width: 85%;
                  }
                  
                  .clearfix1{
                    width: 85%;
                  }
                  .img2 img{
                    height: 35vh;
                    width: 35vh;
                  }
                  .img1 img{
                    height: 35vh;
                    width: 35vh;
                  }
                  /* .clearfix p span{
                    margin-top: 60px;
                  }
                  .clearfix1 p span{
                    margin-top: 20px;
                  } */
                 
                 
                  .grid-wrapper {
                    display: grid;
                    margin: 90px 20px;
                    grid-template-columns: auto auto auto;
                    grid-auto-rows: 200px;
                    grid-auto-flow: dense;
                    
                  background-color: black;
                  margin-bottom: -5vh;
                  padding: 10px;
                    
                  }
                  .list-type5{
                    width:80%;
                    
                   
                    
                    }
                    .list-type5 ol li{
                     
                      margin-bottom: 1em;
                      padding: 1em;
                      padding-left: 48px;
                      }
                      .list-type5 a{
                        font-size: 14px;
                      }
                      .cards-list .card .card_title {
                        font-size: 90%;
                       
                      }
                      .box2 {
                        display: grid;
                    
                        justify-content: center;
                          margin: 0px auto;
                            grid-gap: 10px;
                            width: 20;
                            grid-template-columns: repeat(auto-fit, minmax(300px, 74fr));
                          
                            grid-auto-flow: dense;
                            padding :0px 15px ;
                            
                          }
                        .card2{
                          width: 80%;
                         
                        }
                        
                      }
                  
            
      
  
